.imageContainer {
  width: 100vw;
  height: 90vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 231);
}
.imageContainer > img {
  width: 20vw;
  height: 20vh;
  border-radius: 7px;
}
.imageContainer > h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.267);
  padding: 1vw;
  font-family: "Courier New", Courier, monospace;
}
.imageContainer > p {
  border-bottom: 1px solid rgba(0, 0, 0, 0.267);
  padding: 1vw;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
